<%- include('_header',{user}) %>

<div class="container py-4">
    <h2 class="p-3 display-4 text-center" style="font-size:4vw;">Buyers in system</h2>
    <div class="card  rounded shadow-lg border-success text-center align-self-center">
        <div class="col-md-6 col-sm-12 text-center align-self-center">
            <% if (error) {%>
            <div class="alert alert-danger" role="alert">
                <%=error%>
            </div>
            <% } %>
            <% if (buyers.count <= 0) {%>
            <div class="alert alert-danger" role="alert">
                <h5>There are no buyers Registered</h5>
            </div>
            <% } %>

            <% if (buyers.count>0) {%>
                <% for(let num_buyers=0; num_buyers < buyers.length; num_buyers++) { %>
                <div class="card bg-light border-success mb-3 text-left">
                    <div class="card-header" ><%=`${buyers[num_buyers].first_name} ${buyers[num_buyers].last_name}`%></div>
                    <div class="card-body text-success">
                        <p class="card-text">Nic number :- <%=buyers[num_buyers].nic%> </p>
                        <p class="card-text">Contact Number :- <%=buyers[num_buyers].contact_no%> </p>
                        <p class="card-text">District :- <%=buyers[num_buyers].district%> </p>
                        <p class="card-text">Address :- <%=buyers[num_buyers].address%> </p>
                        <p class="card-text">Email :- <%=buyers[num_buyers].email%> </p>
                        <p class="card-text">Gender :- <%=buyers[num_buyers].gender%> </p>
                        <p class="card-text">Nic number :- <%=buyers[num_buyers].nic%> </p>
                        <% if (buyers[num_buyers].banned) {%>
                        <p class="card-text alert alert-danger">Is banned? :- <%=buyers[num_buyers].banned%> </p>
                        <div class="text-right">
                            <a class="btn btn-success" href="<%=`/admin/buyer/${buyers[num_buyers].uid}/unban`%>" role="button">Unban User</a>
                        </div>
                        <% }else{ %>
                            <div class="text-right">
                                <a class="btn btn-danger" href="<%=`/admin/buyer/${buyers[num_buyers].uid}/ban`%>" role="button">Ban User</a>
                            </div>
                        <%}%>
                    </div>
                </div>
            <% } %>
            <% } %>
        </div>
    </div>
</div>


<%- include('_footer') %>