<%- include('_header',{user}) %>

<div class="container py-4">
    <h2 class="p-3 display-4 text-center" style="font-size:4vw;">Farmers in system</h2>
    <div class="card  rounded shadow-lg border-success text-center align-self-center">
        <div class="col-md-6 col-sm-12 text-center align-self-center">
            <% if (error) {%>
            <div class="alert alert-danger" role="alert">
                <%=error%>
            </div>
            <% } %>
            <% if (farmers.count <= 0) {%>
                <div class="alert alert-danger" role="alert">
                    <h5>There are no buyers Registered</h5>
                </div>
            <% } %>

            <% if (farmers.count>0) {%>
                <% for(let num_farmer=0; num_farmer < farmers.length; num_farmer++) { %>
                <div class="card bg-light border-success mb-3 text-left">
                    <div class="card-header" ><%=`${farmers[num_farmer].first_name} ${farmers[num_farmer].last_name}`%></div>
                    <div class="card-body text-success">
                        <p class="card-text">Nic number :- <%=farmers[num_farmer].nic%> </p>
                        <p class="card-text">Contact Number :- <%=farmers[num_farmer].contact_no%> </p>
                        <p class="card-text">District :- <%=farmers[num_farmer].district%> </p>
                        <p class="card-text">Address :- <%=farmers[num_farmer].address%> </p>
                        <p class="card-text">Email :- <%=farmers[num_farmer].email%> </p>
                        <p class="card-text">Gender :- <%=farmers[num_farmer].gender%> </p>
                        <p class="card-text">Nic number :- <%=farmers[num_farmer].nic%> </p>
                        <% if (farmers[num_farmer].banned) {%>
                            <p class="card-text alert alert-danger">Is banned? :- <%=farmers[num_farmer].banned%> </p>
                        <% } %>
                    </div>
                </div>
                <% } %>
            <% } %>
        </div>
    </div>
</div>


<%- include('_footer') %>