<%- include('_header',{user}) %>

<div class="container py-4">
    <h3 class="p-3 text-center"><%=farmer.first_name[0].toUpperCase()+farmer.first_name.slice(1)+' '+farmer.last_name[0].toUpperCase()+farmer.last_name.slice(1)%></h3>
    <hr>
    <% if (error) {%>
        <div class="alert alert-danger text-center" role="alert">
            <%=error%>
        </div>
    <% } %>
    <% if (ban_success) {%>
        <div class="alert alert-success text-center" role="alert">
            <%=ban_success%>
        </div>
    <% } %>
    <% if (unban_success) {%>
        <div class="alert alert-success text-center" role="alert">
            <%=unban_success%>
        </div>
    <% } %>
    
    <h4 class="text-center">User Details</h4>
    
        <div class="text-center">
            <% if(farmer.banned){ %>
                <div class="alert alert-danger" role="alert">
                    <strong>Farmer is currently banned</strong>
                </div>
            <%}%>
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <p><i class="fas fa-envelope" style="margin-right: 6px;"></i> <%=farmer.email%> </p>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <p><i class="fas fa-phone" style="margin-right: 6px;"></i> <%=farmer.contact_no%> </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <p><i class="fas fa-id-card" style="margin-right: 6px;"></i><%=farmer.nic%> </p>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <p><i class="fas fa-map-marker-alt" style="margin-right: 8px;"></i><%=farmer.district%> </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <p><i class="fas fa-calendar-day" style="margin-right: 6px;"></i>Joined on: <%=farmer.joined.getFullYear()+'/'+("0" + (farmer.joined.getMonth() + 1)).slice(-2)+'/'+("0" + farmer.joined.getDate()).slice(-2) %> </p>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <p><i class="fas fa-map-marked-alt" style="margin-right: 8px;"></i><%=farmer.address%> </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12 mb-3">
                    <% if(!farmer.banned){ %>
                            <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#banModal">
                               Temporarily Ban User
                            </button>
                            <div class="modal fade" id="banModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to temporarily ban the account?</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Note that it may take up to 24 hrs for ban/unban to be effective.However, You can later unban the user if you want.
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <a class="btn btn-danger" href="<%=`/admin/farmer/${farmer.uid}/ban`%>"  role="button">Ban Account</a>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        <%} else {%>
                            <a class="btn btn-outline-success" href="<%=`/admin/farmer/${farmer.uid}/unban`%>" role="button">Unban User</a>
                    <% } %>
                    <br>
                    <small>Note that it may take up to 24 hrs for ban/unban to be effective</small>
                </div>
                <div class="col-md-6 col-sm-12">
                    <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteModal">
                        Permenantly Delete User - Implement
                    </button>
                    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to delete the account?</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    All the data will be lost and no recovery possible
                                </div>
                                <form class="p-3 text-left" method="POST" action="/">
                                    <div>
                                        <label for="del_password">Please Enter Your Password (required)</label>
                                        <input type="password" name="del_password" class="form-control" required/>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-danger">Delete Account</button>
                                    </div>
                                </form>
                                
                            </div>
                        </div>
                    </div>
                        
                </div>


            </div>
            
            
            
        </div>
        
    <hr>
    <h4 class="text-center">Posts</h4>
    <hr>          
    <% if (posts.count>0) {%>
        <div class="p-3">
                <% posts.forEach(function(post){%>
                    <div class="card mb-3 border">
                        <div class="row">
                            <div class="col-lg-5 align center">
                                <% if(post.img_data) {%>
                                    <img class="d-block w-100" src="<%=post.encode%>" alt="vegetables">
                                <%} else if(!post.img_data && post.product_category=='vegetable') {%>
                                    <img class="d-block w-100" src="/assets/default_vegetables.jpg" alt="vegetables">
                                <%} else if (!post.img_data && post.product_category=='fruit') {%>
                                    <img class="d-block w-100 rounded border-success" src="/assets/default_fruits.jpg" alt="fruits">
                                <%}%>
                            </div>
                            <div class="col-lg-7">
                                <div class="card-block p-3">
                                    <h5 class="card-title"><%=post.title%></h5>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12 text-secondary">
                                            <%if(post.status=='Active'){%>
                                                <p class="text-success"><i class="fas fa-heartbeat" style="margin-right: 6px;"></i><b>State: <%=post.status%> </b></p>
                                            <%}else if (post.status=='Sold'){%>
                                                <p class="text-primary"><i class="fas fa-check" style="margin-right: 6px;"></i><b>State: <%=post.status%> </b></p>
                                            <%}else{%>
                                                <p class="text-warning"><i class="fas fa-stopwatch" style="margin-right: 6px;"></i><b>State: <%=post.status%> </b></p>
                                            <%}%>
                                            <p><i class="fas fa-balance-scale-right" style="margin-right: 6px;"></i>Qunatity : <%=post.quantity%> kg</p>
                                            <p><i class="fas fa-tags" style="margin-right: 6px;"></i>Price : Rs. <%=post.expected_price%> </p>
                                        </div>
                                        <div class="col-md-6 col-sm-12 text-secondary">
                                            <p><i class="fas fa-phone" style="margin-right: 6px;"></i>Contact No : <%=post.contact_no%></p>
                                            <p><i class="fas fa-thumbtack" style="margin-right: 6px;"></i>Available District : <%=post.available_district%> </p>
                                            <p><i class="fas fa-calendar-day" style="margin-right: 6px;"></i>Added On : <%=post.added_day.getFullYear()+'/'+("0" + (post.added_day.getMonth() + 1)).slice(-2)+'/'+("0" + post.added_day.getDate()).slice(-2) %> </p>
                                        </div>
                                    </div>
                                    <p class="text-secondary"><i class="fas fa-map-marker-alt" style="margin-right: 6px;"></i>Available Location : <%=post.available_address%> </p>
                                    <a class="card-block stretched-link text-muted" href=''><i class="fas fa-edit" style="margin-right: 6px;"></i>View More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                <%});%>
            <% }else{ %>
                <div class="alert alert-warning text-center">
                    <strong>No Posts Available</strong>
                </div>
        </div>
    <% } %>
</div>


<%- include('_footer') %>