<%- include('_header',{user}) %>

<div class="container py-4">
    <h3 class="p-3 text-center"><%=buyer.first_name[0].toUpperCase()+buyer.first_name.slice(1)+' '+buyer.last_name[0].toUpperCase()+buyer.last_name.slice(1)%></h3>
    <hr>
    <% if (error) {%>
        <div class="alert alert-danger text-center" role="alert">
            <%=error%>
        </div>
    <% } %>
    <% if (ban_success) {%>
        <div class="alert alert-success text-center" role="alert">
            <%=ban_success%>
        </div>
    <% } %>
    <% if (unban_success) {%>
        <div class="alert alert-success text-center" role="alert">
            <%=unban_success%>
        </div>
    <% } %>
    
    <h4 class="text-center">User Details</h4>
    
        <div class="text-center">
            <% if(buyer.banned){ %>
                <div class="alert alert-danger" role="alert">
                    <strong>Buyer is currently banned</strong>
                </div>
            <%}%>
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <p><i class="fas fa-envelope" style="margin-right: 6px;"></i> <%=buyer.email%> </p>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <p><i class="fas fa-phone" style="margin-right: 6px;"></i> <%=buyer.contact_no%> </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <p><i class="fas fa-id-card" style="margin-right: 6px;"></i><%=buyer.nic%> </p>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <p><i class="fas fa-map-marker-alt" style="margin-right: 8px;"></i><%=buyer.district%> </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <p><i class="fas fa-calendar-day" style="margin-right: 6px;"></i>Joined on: <%=buyer.joined.getFullYear()+'/'+("0" + (buyer.joined.getMonth() + 1)).slice(-2)+'/'+("0" + buyer.joined.getDate()).slice(-2) %> </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12 mb-3">
                    <% if(!buyer.banned){ %>
                            <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#banModal">
                               Temporarily Ban User
                            </button>
                            <div class="modal fade" id="banModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to temporarily ban the account?</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                           The ban will stop user loging in only.All the posts and data will remain.You can later unban the user if you want.
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <a class="btn btn-danger" href="<%=`/admin/buyer/${buyer.uid}/ban`%>"  role="button">Ban Account</a>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        <%} else {%>
                            <a class="btn btn-outline-success" href="<%=`/admin/buyer/${buyer.uid}/unban`%>" role="button">Unban User</a>
                    <% } %>
                    <br>
                </div>
                <div class="col-md-6 col-sm-12">
                    <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteModal">
                        Permenantly Delete User - Implement
                    </button>
                    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to delete the account?</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    All the data will be lost and no recovery possible
                                </div>
                                <form class="p-3 text-left" method="POST" action="/admin/buyer/delete/<%=buyer.uid%>">
                                    <div>
                                        <label for="del_password">Please Enter Your Password (required)</label>
                                        <input type="password" name="del_password" class="form-control" required/>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-danger">Delete Account</button>
                                    </div>
                                </form>
                                
                            </div>
                        </div>
                    </div>
                        
                </div>


            </div>
            
            
            
        </div>
        
    <hr>
</div>


<%- include('_footer') %>