<%- include('_header',{user}) %>

<div class="container py-4">
    <h3 class="p-3 text-center"><%=farmer.first_name[0].toUpperCase()+farmer.first_name.slice(1)+' '+farmer.last_name[0].toUpperCase()+farmer.last_name.slice(1)%></h3>
    <hr>
    <% if (error) {%>
        <div class="alert alert-danger text-center" role="alert">
            <%=error%>
        </div>
    <% } %>
    <% if (report_success) {%>
        <div class="alert alert-success text-center" role="alert">
            <%=report_success%>
        </div>
    <% } %>
    
    <h4 class="text-center">User Details</h4>
    
        <div class="text-center">
            
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <p><i class="fas fa-envelope" style="margin-right: 6px;"></i> <%=farmer.email%> </p>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <p><i class="fas fa-phone" style="margin-right: 6px;"></i> <%=farmer.contact_no%> </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <p><i class="fas fa-id-card" style="margin-right: 6px;"></i><%=farmer.nic%> </p>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <p><i class="fas fa-map-marker-alt" style="margin-right: 8px;"></i><%=farmer.district%> </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <p><i class="fas fa-calendar-day" style="margin-right: 6px;"></i>Joined on: <%=farmer.joined.getFullYear()+'/'+("0" + (farmer.joined.getMonth() + 1)).slice(-2)+'/'+("0" + farmer.joined.getDate()).slice(-2) %> </p>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <p><i class="fas fa-map-marked-alt" style="margin-right: 8px;"></i><%=farmer.address%> </p>
                </div>            
            
        </div>
        <div class="text-center">
            <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#reportModal">
                Report User to Admin
            </button>
            <div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Report User</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Please provide your reasons for reporting. For example "posting inappropriate content".
                        </div>
                        <form class="p-3 text-left" method="POST" action="/buyer/reportFarmer/<%=farmer.uid%>">
                            <div class="form-group">
                                <label for="reasons">Reasons</label>
                                <textarea class="form-control" id="reasons" name="reasons" rows="3"><%=reasons%></textarea>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-danger">Report User</button>
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>

        </div>

        
    <hr>
    <h4 class="text-center">Posts By Farmer</h4>
    <hr> 

        <% if (posts && posts.length>0) {%>
                <% posts.forEach(function(post){%>
                    <div class="card mb-2 shadow rounded border-success text-left">
                        <div class="row">
                          <div class="col-lg-5 align center">
                            <% if(post.img_data) {%>
                                <img class="d-block w-100" src="<%=post.img_b64%>" alt="post_img">
                            <%} else if(!post.image_data && post.product_category=='vegetable') {%>
                                <img class="d-block w-100" src="/assets/default_vegetables.jpg" alt="vegetables">
                            <%} else if (!post.image_data && post.product_category=='fruit') {%>
                                <img class="d-block w-100 rounded border-success" src="/assets/default_fruits.jpg" alt="">
                            <%}%>
                          </div>
                          <div class="col-lg-7">
                            <div class="card-block p-3">
                                <div class="row space-between">
                                    <div class="col-sm-7 col-xs-12">
                                        <h5 class="card-title"><%=post.title%></h5>
                                    </div>
                                    <div class="col-sm-5 col-xs-12 text-right">
                                        <p class="text-secondary"><i class="fas fa-shopping-basket" style="margin-right: 6px;"></i><%=post.product_name%></p>
                                    </div>
                                </div>
                                <%if (post.req_msg_id){%>
                                    <small class="text-success">Buyer Request Message Already Sent</small>
                                <%}%>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12 text-secondary">
                                        
                                        <p><i class="fas fa-balance-scale-right" style="margin-right: 6px;"></i>Qunatity : <strong><%=post.quantity%> kg</strong> </p>
                                        <p><i class="fas fa-tags" style="margin-right: 6px;"></i>Unit Price : <strong> Rs. <%=post.expected_price%> per kg</strong> </p>
                                        
                                        
                                    </div>
                                    <div class="col-md-6 col-sm-12 text-secondary">
                                        <p><i class="fas fa-thumbtack" style="margin-right: 6px;"></i>Available District : <%=post.available_district%> </p>
                                        <p><i class="fas fa-calendar-day" style="margin-right: 6px;"></i>Added On : <%=post.added_day.getFullYear()+'/'+("0" + (post.added_day.getMonth() + 1)).slice(-2)+'/'+("0" + post.added_day.getDate()).slice(-2) %> </p>
                                    </div>
                                </div>
                                <p class="text-secondary"><i class="fas fa-map-marker-alt" style="margin-right: 6px;"></i>Available Location : <%=post.available_address%> </p>
                                <a class="card-block stretched-link text-muted" href='/buyer/viewpost/<%=post.post_id%>'><i class="fa fa-info-circle" style="margin-right: 6px;"></i><span class="text-success">More Details</span></a>
                                
                            </div>
                          </div>
                   
                        </div>
                      </div>
                <%});%>
        <% }else{ %>
            <div class="alert alert-warning text-center">
                <strong>No Posts Available</strong>
            </div>
    <% } %>
</div>


<%- include('_footer') %>