<%- include('_header',{user}) %>
<div class="container py-4">
    <h1 class="p-3 display-4 text-center" style="font-size:4vw;">Welcome <%=user.name.toUpperCase()%></h1>
    <hr>
    <h6 class="text-center">Apply Filters To Get More Specific Results!</h6>
    <hr>
    <% if(error) { %>
        <div class="alert alert-danger text-center" role="alert">
            <%=error%>
        </div>
    <%} %>
    <% if(success) { %>
        <div class="alert alert-success text-center" role="alert">
            <%=success%>
        </div>
    <%} %>

    <div class="card p-3 shadow border-success rounded">
        <form method="post" action="/buyer/filter">
            <div class="row">
                <div class="col-sm-4 col-xs-12 align-self-center">
                    <div class="form-group">
                        <label for="min_quantity">Min. Quantity <small>(kg)</small></label>
                        <input class="form-control" type="text" id="min_quantity" name="min_quantity" placeholder="Kilograms" value="<%=min_quantity%>">
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12 align-self-center">
                    <div class="form-group">
                        <label for="max_qunatity">Max. Quantity<small>(kg)</small></label>
                        <input class="form-control" type="text" id="max_quantity" name="max_quantity" placeholder="Kilograms" value="<%=max_quantity%>">
                    </div>
                </div>
                <div class="form-group col-sm-4 col-xs-12">
                    <label for="filter_category">Category:</label>
                    <select name="filter_category" id="filter_category" class="form-control">
                    <% if(filter_category=='all') {%>
                        <option id="all" value="all" selected>All</option>
                        <% }else {%>
                        <option id="all" value="all">All</option>
                        <%}%>
                        <% if(filter_category=='vegetable') {%>
                    <option id="vegetable" value="vegetable" selected>Vegetable</option>
                        <% }else {%>
                        <option id="vegetable" value="vegetable">Vegetable</option>
                        <%}%>
                        <% if(filter_category=='fruit') {%>
                        <option id="fruit" value="fruit" selected>Fruit</option>
                        <% }else {%>
                        <option id="fruit" value="fruit">Fruit</option>
                        <%}%>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-xs-12 align-self-center">
                    <div class="form-group">
                        <label for="min_price">Min.Unit Price <small>(Rs)</small></label>
                        <input class="form-control" type="text" id="min_price" name="min_price" placeholder="Rupees" value="<%=min_price%>">
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12 align-self-center">
                    <div class="form-group">
                        <label for="max_price">Max.Unit Price <small>(Rs.)</small></label>
                        <input class="form-control" type="text" id="max_price" name="max_price" placeholder="Rupees" value="<%=max_price%>">
                    </div>
                </div>
                <div class="form-group col-sm-4 col-xs-12">
                    <label for="filter_district">District:</label>
                    <select name="filter_district" id="filter_district" class="form-control">
                        <% if( filter_district=='All') { %>
                            <option value="all" selected>All</option>
                            <% }else{  %>
                            <option value="all">All</option>
                            <% } %>
                            <% if( filter_district=='Anuradhapura') { %>
                                <option value="Anuradhapura" selected>Anuradhapura</option>
                                <% }else{  %>
                                <option value="Anuradhapura">Anuradhapura</option>
                                <% } %>
                        <% if( filter_district=='Ampara') { %>
                        <option value="Ampara" selected>Ampara</option>
                        <% }else{  %>
                        <option value="Ampara">Ampara</option>
                        <% } %>
                        <% if( filter_district=='Badulla') { %>
                        <option value="Badulla" selected>Badulla</option>
                        <% }else{  %>
                        <option value="Badulla">Badulla</option>
                        <% } %>
                        <% if( filter_district=='Batticaloa') { %>
                        <option value="Batticaloa" selected>Batticaloa</option>
                        <% }else{  %>
                        <option value="Batticaloa">Batticaloa</option>
                        <% } %>
                        <% if( filter_district=='Colombo') { %>
                        <option value="Colombo" selected>Colombo</option>
                        <% }else{  %>
                        <option value="Colombo">Colombo</option>
                        <% } %>
                        <% if( filter_district=='Galle') { %>
                        <option value="Galle" selected>Galle</option>
                        <% }else{  %>
                        <option value="Galle">Galle</option>
                        <% } %>
                        <% if( filter_district=='Gampaha') { %>
                        <option value="Gampaha" selected>Gampaha</option>
                        <% }else{  %>
                        <option value="Gampaha">Gampaha</option>
                        <% } %>
                        <% if( filter_district=='Hambantota') { %>
                        <option value="Hambantota" selected>Hambantota</option>
                        <% }else{  %>
                        <option value="Hambantota">Hambantota</option>
                        <% } %>
                        <% if( filter_district=='Jaffna') { %>
                        <option value="Jaffna" selected>Jaffna</option>
                        <% }else{  %>
                        <option value="Jaffna">Jaffna</option>
                        <% } %>
                        <% if( filter_district=='Kalutara') { %>
                        <option value="Kalutara" selected>Kalutara</option>
                        <% }else{  %>
                        <option value="Kalutara">Kalutara</option>
                        <% } %>
                        <% if( filter_district=='Kandy') { %>
                        <option value="Kandy" selected>Kandy</option>
                        <% }else{  %>
                        <option value="Kandy">Kandy</option>
                        <% } %>
                        <% if( filter_district=='Kegalle') { %>
                        <option value="Kegalle" selected>Kegalle</option>
                        <% }else{  %>
                        <option value="Kegalle">Kegalle</option>
                        <% } %>
                        <% if( filter_district=='Kilinochchi') { %>
                        <option value="Kilinochchi" selected>Kilinochchi</option>
                        <% }else{  %>
                        <option value="Kilinochchi">Kilinochchi</option>
                        <% } %>
                        <% if( filter_district=='Kurunegala') { %>
                        <option value="Kurunegala" selected>Kurunegala</option>
                        <% }else{  %>
                        <option value="Kurunegala">Kurunegala</option>
                        <% } %>
                        <% if( filter_district=='Mannar') { %>
                        <option value="Mannar" selected>Mannar</option>
                        <% }else{  %>
                        <option value="Mannar">Mannar</option>
                        <% } %>
                        <% if( filter_district=='Matale') { %>
                        <option value="Matale" selected>Matale</option>
                        <% }else{  %>
                        <option value="Matale">Matale</option>
                        <% } %>
                        <% if( filter_district=='Matara') { %>
                        <option value="Matara" selected>Matara</option>
                        <% }else{  %>
                        <option value="Matara">Matara</option>
                        <% } %><% if( filter_district=='Moneragala') { %>
                        <option value="Moneragala" selected>Moneragala</option>
                        <% }else{  %>
                        <option value="Moneragala">Moneragala</option>
                        <% } %>
                        <% if( filter_district=='Mullaitivu') { %>
                        <option value="Mullaitivu" selected>Mullaitivu</option>
                        <% }else{  %>
                        <option value="Mullaitivu">Mullaitivu</option>
                        <% } %>
                        <% if( filter_district=='Nuwara Eliya') { %>
                        <option value="Nuwara Eliya" selected>Nuwara Eliya</option>
                        <% }else{  %>
                        <option value="Nuwara Eliya">Nuwara Eliya</option>
                        <% } %>
                        <% if( filter_district=='Polonnaruwa') { %>
                        <option value="Polonnaruwa" selected>Polonnaruwa</option>
                        <% }else{  %>
                        <option value="Polonnaruwa">Polonnaruwa</option>
                        <% } %>
                        <% if( filter_district=='Puttalam') { %>
                        <option value="Puttalam" selected>Puttalam</option>
                        <% }else{  %>
                        <option value="Puttalam">Puttalam</option>
                        <% } %>
                        <% if( filter_district=='Ratnapura') { %>
                        <option value="Ratnapura" selected>Ratnapura</option>
                        <% }else{  %>
                        <option value="Ratnapura">Ratnapura</option>
                        <% } %>
                        <% if( filter_district=='Trincomalee') { %>
                        <option value="Trincomalee" selected>Trincomalee</option>
                        <% }else{  %>
                        <option value="Trincomalee">Trincomalee</option>
                        <% } %>
                        <% if( filter_district=='Vavuniya') { %>
                        <option value="Vavuniya" selected>Vavuniya</option>
                        <% }else{  %>
                        <option value="Vavuniya">Vavuniya</option>
                        <% } %>
                    </select>
                </div>
            </div>
                
            <div class="text-right">
                    <button type="submit" class="btn btn-success">Filter Posts</button>
            </div>
        </form>
    </div>
    

    <div class="p-3">
        <% if(posts && posts.length!=0) {%>
            <% posts.forEach(function(post){%>
              <div class="card mb-2 shadow rounded border-success">
                <div class="row">
                  <div class="col-lg-5 align center">
                    <% if(post.img_data) {%>
                        <img class="d-block w-100" src="<%=post.img_b64%>" alt="post_img">
                     <% }else if(!post.img_data && post.product_category=='vegetable') {%>
                        <img class="d-block w-100" src="/assets/default_vegetables.jpg" alt="vegetables">
                    <%} else if (!post.img_data && post.product_category=='fruit') {%>
                        <img class="d-block w-100 rounded border-success" src="/assets/default_fruits.jpg" alt="">
                    <%}%>
                  </div>
                  <div class="col-lg-7">
                    <div class="card-block p-3">
                        <div class="row space-between">
                            <div class="col-sm-7 col-xs-12">
                                <h5 class="card-title"><%=post.title%></h5>
                            </div>
                            <div class="col-sm-5 col-xs-12 text-right">
                                <p class="text-secondary"><i class="fas fa-shopping-basket" style="margin-right: 6px;"></i><%=post.product_name%></p>
                            </div>
                        </div>
                        <%if (post.req_msg_id){%>
                            <small class="text-success">Buyer Request Message Already Sent</small>
                        <%}%>
                        <div class="row">
                            <div class="col-md-6 col-sm-12 text-secondary">
                                
                                <p><i class="fas fa-balance-scale-right" style="margin-right: 6px;"></i>Qunatity : <strong><%=post.quantity%> kg</strong> </p>
                                <p><i class="fas fa-tags" style="margin-right: 6px;"></i>Unit Price (/kg) : <strong> Rs. <%=post.expected_price%></strong> </p>
                                <p><i class="fas fa-user" style="margin-right: 6px;"></i>Seller : <%=post.first_name[0].toUpperCase()+post.first_name.slice(1)+' '+post.last_name[0].toUpperCase()+post.last_name.slice(1)%></p>
                                
                                
                            </div>
                            <div class="col-md-6 col-sm-12 text-secondary">
                              
                                <p><i class="fas fa-phone" style="margin-right: 6px;"></i>Contact No : <%=post.contact_no%></p>
                                <p><i class="fas fa-thumbtack" style="margin-right: 6px;"></i>Available District : <%=post.available_district%> </p>
                                <p><i class="fas fa-calendar-day" style="margin-right: 6px;"></i>Added On : <%=post.added_day.getFullYear()+'/'+("0" + (post.added_day.getMonth() + 1)).slice(-2)+'/'+("0" + post.added_day.getDate()).slice(-2) %> </p>
                            </div>
                        </div>
                        <p class="text-secondary"><i class="fas fa-map-marker-alt" style="margin-right: 6px;"></i>Available Location : <%=post.available_address%> </p>
                        <a class="card-block stretched-link text-muted" href='/buyer/viewpost/<%=post.post_id%>'><i class="fa fa-info-circle" style="margin-right: 6px;"></i><span class="text-success">More Details</span></a>
                        
                    </div>
                  </div>
           
                </div>
              </div>
            <%});%>

            

            <% }else{ %>
                <div class="alert alert-warning text-center">
                    <strong>No Posts Available</strong>
                </div>
            <%}%>
    </div>
</div>

<%- include('_footer') %>