<div class="card mb-3 border">
    <div class="row">
        <div class="col-lg-5 align center">
            <% if(post.img_data) {%>
                <img class="d-block w-100" src="<%=post.img_b64%>" alt="vegetables">
            <%} else if(!post.img_data && post.product_category=='vegetable') {%>
                <img class="d-block w-100" src="/assets/default_vegetables.jpg" alt="vegetables">
            <%} else if (!post.img_data && post.product_category=='fruit') {%>
                <img class="d-block w-100 rounded border-success" src="/assets/default_fruits.jpg" alt="fruits">
            <%}%>
        </div>
        <div class="col-lg-7">
            <div class="card-block p-3">
                <h5 class="card-title"><%=post.title%></h5>
                <div class="row">
                    <div class="col-md-6 col-sm-12 text-secondary">
                        <%if(post.status=='Active'){%>
                            <p class="text-success"><i class="fas fa-heartbeat" style="margin-right: 6px;"></i><b>State: <%=post.status%> </b></p>
                        <%}else if (post.status=='Sold'){%>
                            <p class="text-primary"><i class="fas fa-check" style="margin-right: 6px;"></i><b>State: <%=post.status%> </b></p>
                        <%}else{%>
                            <p class="text-warning"><i class="fas fa-stopwatch" style="margin-right: 6px;"></i><b>State: <%=post.status%> </b></p>
                        <%}%>
                        <p><i class="fas fa-balance-scale-right" style="margin-right: 6px;"></i>Qunatity : <%=post.quantity%> kg</p>
                        <p><i class="fas fa-tags" style="margin-right: 6px;"></i>Unit Price : Rs. <%=post.expected_price%></p>
                    </div>
                    <div class="col-md-6 col-sm-12 text-secondary">
                        <p><i class="fas fa-phone" style="margin-right: 6px;"></i>Contact No : <%=post.contact_no%></p>
                        <p><i class="fas fa-thumbtack" style="margin-right: 6px;"></i>Available District : <%=post.available_district%> </p>
                        <p><i class="fas fa-calendar-day" style="margin-right: 6px;"></i>Added On : <%=post.added_day.getFullYear()+'/'+("0" + (post.added_day.getMonth() + 1)).slice(-2)+'/'+("0" + post.added_day.getDate()).slice(-2) %> </p>
                    </div>
                </div>
                <button type="button" class="btn btn-outline-danger btn-small" data-toggle="modal" data-target="#delete<%=post.post_id%>PostModal">
                    <i class="fas fa-trash-alt" style="margin-right: 6px;"></i>Delete Post
                </button>
                <div class="modal fade" id="delete<%=post.post_id%>PostModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to delete the post?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                All the data,messages related to the post will be lost to all and no recovery is possible!
                            </div>
                            <div class="modal-footer">
                                
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <a class="btn btn-danger" href="/admin/deleteFarmerPost/<%=post.post_id%>"  role="button">Delete Post</a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>