<%- include('_header',{user}) %>
<div class="container p-1">
    <h1> class="p-3 text-center">My Posts</h1>
        <% if(error) { %>
            <div class="alert alert-danger text-center" role="alert">
                <%=error%>
            </div>
        <%} %>
        <div class="card shadow rounded border-success">
            <div class="nav-tabs-boxed">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#allposts" role="tab"
                            aria-controls="allposts" aria-selected="true">All Posts</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#activeposts" role="tab"
                        aria-controls="activeposts" aria-selected="false">Active Posts</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#soldposts" role="tab"
                        aria-controls="soldposts" aria-selected="false">Sold Posts</a></li>
    
                </ul>
                <div class="tab-content p-3">
                    <div class="tab-pane active" id="allposts" role="tabpanel">
                        <div class="text-center">
                            <img src="/assets/my_posts_all.jpg"
                                class="img-fluid" alt="All Posts" />
                                <br>
                    <small><a href="https://www.freepik.com/vectors/nature" class="text-success">Nature vector created by freepik - www.freepik.com</a></small>
                        </div>
                        <div class="p-3">
                            <% if(posts && posts.length!=0) {%>
                                <% posts.forEach(function(post){%>
                                   
                                  
                                  <div class="card mb-2 border">
                                    <div class="row">
                                      <div class="col-lg-5 align center">
                                        <% if(!post.image_data && post.product_category=='vegetable') {%>
                                            <img class="d-block w-100" src="/assets/default_vegetables.jpg" alt="vegetables">
                                        <%} else if (!post.image_data && post.product_category=='fruit') {%>
                                            <img class="d-block w-100 rounded border-success" src="/assets/default_fruits.jpg" alt="">
                                        <%}%>
                                      </div>
                                      <div class="col-lg-7">
                                        <div class="card-block p-3">
                                            <h5 class="card-title"><%=post.title%></h5>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-12 text-secondary">
                                                    <p class="text-success"><i class="fas fa-heartbeat" style="margin-right: 6px;"></i><b>State: <%=post.status%> </b></p>
                                                    <p><i class="fas fa-balance-scale-right" style="margin-right: 6px;"></i>Qunatity : <%=post.quantity%> kg</p>
                                                    <p><i class="fas fa-tags" style="margin-right: 6px;"></i>Price : Rs. <%=post.expected_price%> </p>
                                                    
                                                </div>
                                                <div class="col-md-6 col-sm-12 text-secondary">
                                                    <p><i class="fas fa-phone" style="margin-right: 6px;"></i>Contact No : <%=post.contact_no%></p>
                                                    <p><i class="fas fa-thumbtack" style="margin-right: 6px;"></i>Available District : <%=post.available_district%> </p>
                                                    <p><i class="fas fa-calendar-day" style="margin-right: 6px;"></i>Added On : <%=post.added_day.getFullYear()+'/'+("0" + (post.added_day.getMonth() + 1)).slice(-2)+'/'+("0" + post.added_day.getDate()).slice(-2) %> </p>
                                                </div>
                                            </div>
                                            <p class="text-secondary"><i class="fas fa-map-marker-alt" style="margin-right: 6px;"></i>Available Location : <%=post.available_address%> </p>
                                            <a class="card-block stretched-link text-muted" href=''><i class="fas fa-edit" style="margin-right: 6px;"></i>Edit Post</a>
                                            
                                        </div>
                                      </div>
                               
                                    </div>
                                  </div>
                                <%});%>

                                
                
                                <% }else{ %>
                                    <div class="alert alert-warning text-center">
                                        <strong>No Posts Available</strong>
                                    </div>
                                <%}%>
                        </div>
                    </div>
                    <div class="tab-pane" id="activeposts" role="tabpanel">
                        <div class="text-center">
                            <img src="/assets/my_posts_active.jpg"
                                class="img-fluid" alt="Active Posts" height="20%" />
                                <br>
                                <small><a href="https://www.freepik.com/vectors/business" class="text-success">Business vector created by freepik - www.freepik.com</a></small>
                        </div>
                        <div class="p-3">
                            <% if(activePosts && activePosts.length!=0) {%>
                                <% activePosts.forEach(function(post){%>
                                  <div class="card mb-2 border">
                                    <div class="row">
                                      <div class="col-lg-5 align center">
                                        <% if(!post.image_data && post.product_category=='vegetable') {%>
                                            <img class="d-block w-100" src="/assets/default_vegetables.jpg" alt="vegetables">
                                        <%} else if (!post.image_data && post.product_category=='fruit') {%>
                                            <img class="d-block w-100 rounded border-success" src="/assets/default_fruits.jpg" alt="">
                                        <%}%>
                                      </div>
                                      <div class="col-lg-7">
                                        <div class="card-block p-3">
                                            <h5 class="card-title"><%=post.title%></h5>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-12 text-secondary">
                                                    <p class="text-success"><i class="fas fa-heartbeat" style="margin-right: 6px;"></i><b>State: <%=post.status%> </b></p>
                                                    <p><i class="fas fa-balance-scale-right" style="margin-right: 6px;"></i>Qunatity : <%=post.quantity%> kg</p>
                                                    <p><i class="fas fa-tags" style="margin-right: 6px;"></i>Price : Rs. <%=post.expected_price%> </p>
                                                    
                                                </div>
                                                <div class="col-md-6 col-sm-12 text-secondary">
                                                    <p><i class="fas fa-phone" style="margin-right: 6px;"></i>Contact No : <%=post.contact_no%></p>
                                                    <p><i class="fas fa-thumbtack" style="margin-right: 6px;"></i>Available District : <%=post.available_district%> </p>
                                                    <p><i class="fas fa-calendar-day" style="margin-right: 6px;"></i>Added On : <%=post.added_day.getFullYear()+'/'+("0" + (post.added_day.getMonth() + 1)).slice(-2)+'/'+("0" + post.added_day.getDate()).slice(-2) %> </p>
                                                </div>
                                            </div>
                                            <p class="text-secondary"><i class="fas fa-map-marker-alt" style="margin-right: 6px;"></i>Available Location : <%=post.available_address%> </p>
                                            <a class="card-block stretched-link text-muted" href=''><i class="fas fa-edit" style="margin-right: 6px;"></i>Edit Post</a>
                                            
                                        </div>
                                      </div>
                               
                                    </div>
                                  </div>
                                <%});%>

                                
                
                                <% }else{ %>
                                    <div class="alert alert-warning text-center">
                                        <strong>No Active Posts</strong>
                                    </div>
    
                                <%}%>
                            
                        </div>
                    </div>
                    <div class="tab-pane" id="soldposts" role="tabpanel">
                        <div class="text-center">
                            <img src="/assets/my_posts_all.jpg"
                                class="img-fluid" alt="Sold Posts" height="20%" />
                                <br>
                                <small><a href="https://www.freepik.com/vectors/business" class="text-success">Business vector created by freepik - www.freepik.com</a></small>
                        </div>
                        <div class="p-3">
                            <% if(soldPosts && soldPosts.length!=0) {%>
                                <% soldPosts.forEach(function(post){%>
                                  <div class="card mb-2 border">
                                    <div class="row">
                                      <div class="col-lg-5 align center">
                                        <% if(!post.image_data && post.product_category=='vegetable') {%>
                                            <img class="d-block w-100" src="/assets/default_vegetables.jpg" alt="vegetables">
                                        <%} else if (!post.image_data && post.product_category=='fruit') {%>
                                            <img class="d-block w-100 rounded border-success" src="/assets/default_fruits.jpg" alt="">
                                        <%}%>
                                      </div>
                                      <div class="col-lg-7">
                                        <div class="card-block p-3">
                                            <h5 class="card-title"><%=post.title%></h5>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-12 text-secondary">
                                                    <p class="text-success"><i class="fas fa-heartbeat" style="margin-right: 6px;"></i><b>State: <%=post.status%> </b></p>
                                                    <p><i class="fas fa-balance-scale-right" style="margin-right: 6px;"></i>Qunatity : <%=post.quantity%> kg</p>
                                                    <p><i class="fas fa-tags" style="margin-right: 6px;"></i>Price : Rs. <%=post.expected_price%> </p>
                                                    
                                                </div>
                                                <div class="col-md-6 col-sm-12 text-secondary">
                                                    <p><i class="fas fa-phone" style="margin-right: 6px;"></i>Contact No : <%=post.contact_no%></p>
                                                    <p><i class="fas fa-thumbtack" style="margin-right: 6px;"></i>Available District : <%=post.available_district%> </p>
                                                    <p><i class="fas fa-calendar-day" style="margin-right: 6px;"></i>Added On : <%=post.added_day.getFullYear()+'/'+("0" + (post.added_day.getMonth() + 1)).slice(-2)+'/'+("0" + post.added_day.getDate()).slice(-2) %> </p>
                                                </div>
                                            </div>
                                            <p class="text-secondary"><i class="fas fa-map-marker-alt" style="margin-right: 6px;"></i>Available Location : <%=post.available_address%> </p>
                                            <a class="card-block stretched-link text-muted" href=''><i class="fas fa-edit" style="margin-right: 6px;"></i>Edit Post</a>
                                            
                                        </div>
                                      </div>
                               
                                    </div>
                                  </div>
                                <%});%>
                            <% }else{ %>
                                <div class="alert alert-warning text-center">
                                    <strong>No Sold Posts</strong>
                                </div>

                            <%}%>
                            
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
        

</div>

<%- include('_footer') %>